/* TODO: Import fonts. Please keep in mind we use only woff2 format! */

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/ibm-plex-mono/ibm-plex-mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'usual';
  src: url('/fonts/usual/usual-400.woff2') format('woff2');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  font-family: 'usual';
  src: url('/fonts/usual/usual-600.woff2') format('woff2');
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  font-family: 'usual';
  src: url('/fonts/usual/usual-300.woff2') format('woff2');
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
