@layer components {
  .content {
    @apply text-lg sm:text-base;

    > *:first-child {
      @apply !mt-0;
    }

    > *:last-child {
      @apply !mb-0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-semibold leading-snug;
    }

    h2 {
      @apply mt-10 mb-5 text-2xl sm:mt-8 sm:mb-4 sm:text-xl;
    }

    h3 {
      @apply mt-8 mb-5 text-xl sm:mt-6 sm:mb-4 sm:text-lg;
    }

    ul,
    ol,
    p,
    > video,
    .embedVideo-container {
      @apply my-5 sm:my-4;
    }

    strong {
      @apply font-normal;
    }

    a {
      @apply relative font-normal text-red transition-colors duration-200 hover:text-blue;
    }

    figure,
    > .gatsby-resp-image-wrapper,
    > img,
    .gatsby-highlight {
      @apply my-10 sm:my-8;
    }

    .gatsby-resp-image-figure figcaption {
      @apply mt-2 text-center text-sm font-normal text-gray-7;
    }

    ul,
    ol {
      @apply space-y-2 pl-14 md:space-y-2.5 md:pl-8;
    }

    ul {
      > li {
        @apply relative;

        &::before {
          @apply absolute top-2.5 -left-2.5 h-1.5 w-1.5 -translate-x-full rounded-full bg-red content-[''];
        }
      }
    }

    ol {
      counter-reset: custom-counter;

      > li {
        @apply relative;
        counter-increment: custom-counter;

        &::before {
          @apply absolute top-0 -left-2.5 -translate-x-full font-normal text-red;
          content: counter(custom-counter) '. ' !important;
        }
      }
    }

    .table-wrapper {
      @apply md:overflow-x-auto;
    }

    table {
      @apply w-full border-hidden text-base md:min-w-[500px];

      th {
        @apply border-y border-gray-4 py-2 text-left font-medium dark:border-gray-8;
      }

      td {
        @apply border-y border-gray-4 py-2 dark:border-gray-8;
      }
    }

    pre {
      @apply scrollbar-hidden overflow-scroll rounded-lg bg-gray-1 px-6 py-4 text-base text-black dark:bg-gray-9 dark:text-white md:px-4 md:py-3 md:text-sm;

      .token.atrule,
      .token.attr-value,
      .token.keyword {
        @apply text-[#0f2cbd] dark:text-[#7187f4];
      }

      .token.function,
      .token.class-name {
        @apply text-[#d41153];
      }

      .token.operator,
      .token.entity,
      .token.url,
      .language-css .token.string,
      .style .token.string {
        @apply text-[#7e428a] dark:text-[#9d53ac];
      }

      .token.property,
      .token.tag,
      .token.boolean,
      .token.number,
      .token.constant,
      .token.symbol,
      .token.deleted {
        @apply text-[#82174c] dark:text-[#ad1f66];
      }

      .token.selector,
      .token.attr-name,
      .token.string,
      .token.char,
      .token.builtin,
      .token.inserted {
        @apply text-[#00994c] dark:text-[#00cc66];
      }

      .token.punctuation {
        @apply text-[#737373];
      }

      .token.comment,
      .token.prolog,
      .token.doctype,
      .token.cdata {
        @apply text-[#a6a6a6];
      }
    }

    :not(pre) > code {
      @apply break-words rounded-sm bg-gray-1 px-1.5 py-0.5 text-base text-red dark:bg-gray-9 md:px-1 md:py-px md:text-sm;
    }

    .embedVideo-container {
      /* 56.25% is 16:9 ratio
      this code makes an iframe responsive 
      https://stackoverflow.com/a/29784327 */
      @apply relative h-0 pb-[56.25%];

      iframe {
        @apply absolute top-0 left-0 h-full w-full;
      }
    }

    iframe,
    video {
      @apply mx-auto max-w-full;
    }

    video {
      /* Extra hack to remove grey border artifact on Safari */
      /* https://stackoverflow.com/questions/52508598/html5-video-element-on-iphone-has-border */
      -webkit-mask-image: -webkit-radial-gradient(white, black);
    }
  }
}
